* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    font-weight: 500;
    color: rgb(213, 196, 111);
    padding: 1em;
    margin: 2em;
    background-size: cover;
    background-repeat: no repeat;
    /* background: linear-gradient(#e66465, #9198e5); */
    background-color:rgb(242, 230, 230);
} 

.card {
    background-color: rgba(255, 255, 255, 0.17);
    border: 1px solid ;
    border-radius: .5rem;
    padding: 1.2em;
    max-width: 350px;
    margin: 0 auto;
    transform: translateX(200%);
    opacity: 0;
    transition: 500ms ease-in-out;
    position: absolute;
    /* box-shadow: 5px 0px 5px 0 rgba(0, 0, 0, 0.074), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
    /* animation: fade 500ms 500ms ease-in-out forwards; */
    /* margin: .5rem; */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    gap: .25em;
}

.form-group:last-child {
    margin: 0;
}

.form-group > label {
    font-weight: 400;
    font-size: .9rem;
    color: rgb(150, 150, 150);
}

.form-group > input {
    border: 0.5px solid rgb(206, 206, 206);
    border-radius: .25em;
    font-size: 1rem;
    padding: .3em;
    
}
.form-group > input:focus {
    border-color: rgb(128, 128, 128);
}

.step-head {
    /* margin-top: .3em; */
    margin-bottom: .3em;
    line-height: 1.2em;
    font-size: 1.7rem;
}
.step-title {
    margin: 0;
    margin-bottom: .5em;
    font-weight: 500;
}

.card.active {
    transform: translateX(0);
    animation: slide 250ms 250ms ease-in-out both;
    position: relative;
}

button {
    background-color: rgb(213, 196, 111);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 26px;
    margin-bottom: .3em;
    margin-top: .4em;
    margin-right: .2em;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
    cursor: pointer;
}
.submit {
    background-color: coral;
}
.submit:hover {
    background-color: rgb(255, 87, 26);
}

button:hover {
    background-color: rgb(196, 172, 49);
}

.multi-step-form {
    overflow: hidden;
    position: relative;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.75);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
